

<!-- The Modal Trocar Nome na Plataforma-->
<div class="modal" id="myModal6">
    <div class="modal-dialog">
      <div class="modal-content bg-bege">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="navbar-brand" href="#">
            
            <img src="/assets/logo.png" alt="Logo" style="width:40px;">
          </p>
          <h4 class="modal-title">Alterar foto</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body  criar conta-->
        <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="alterarFoto()">
              <div class="mb-3 mt-3">
                <label for="novafoto">Subir foto:</label>
                <!-- Alterar o input para tipo 'file' -->
                <input type="file" class="form-control" id="novafoto" formControlName="fotoUsuario" (change)="onFileSelected($event)" />
              </div>
     
    
      <!-- Modal footer -->
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-vermelho mx-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-azul-claro mx-2" [disabled]="isSubmitDisabled">Fazer upload</button>
      </div>
    </form>
  
  </div>
  
  </div>
  </div>
  </div>
    