<section class="py-5" style="background-color: #00678e;">
  <div class="container p-4" style="background-color: #F3D9A7; border-radius: 8px;">
    
    <!-- Título com logo -->
    <div>
      <h2 class="text-center"><img src="/assets/logo.png"alt="Logo" class="me-1" style="width: 40px;">
      Termos de Uso e Privacidade</h2>
</div>
    
    <!-- Texto principal -->
    <p class="text-justify">
      Bem-vindo à plataforma Dina Filmes. Este documento estabelece as diretrizes e termos que regem o uso de nossos serviços online relacionados à interação e compartilhamento de informações sobre filmes. Ao acessar ou utilizar a plataforma Dina Filmes, você concorda com os termos descritos nesta política de privacidade e termos de uso.
    </p>

    <!-- Seções de conteúdo -->
    <div class="mb-4">
      <h4 class="text-dark">Coleta de Informações</h4>
      <p class="text-justify">
        <strong>1.1 Informações Pessoais:</strong> Para proporcionar uma experiência personalizada, podemos coletar informações pessoais como nome, endereço de e-mail, idade, sexo, preferências de filmes, entre outros dados fornecidos voluntariamente pelos usuários durante o cadastro ou interação na plataforma.
      </p>
      <p class="text-justify">
        <strong>1.2 Informações de Uso:</strong> Coletamos dados sobre a forma como você utiliza a plataforma, incluindo suas interações com filmes, comentários, avaliações e outros conteúdos gerados pelo usuário.
      </p>
      <p class="text-justify">
        <strong>1.3 Cookies e Tecnologias Similares:</strong> Utilizamos cookies e tecnologias similares para melhorar a funcionalidade da plataforma, personalizar sua experiência, analisar tendências de uso e administrar a plataforma de forma eficiente.
      </p>
    </div>

    <div class="mb-4">
      <h4 class="text-dark">Uso das Informações</h4>
      <p class="text-justify">
        <strong>2.1 Personalização e Melhoria dos Serviços:</strong> Utilizamos as informações coletadas para personalizar o conteúdo da plataforma, recomendar filmes com base em suas preferências e melhorar continuamente nossos serviços.
      </p>
      <p class="text-justify">
        <strong>2.2 Comunicação:</strong> Podemos utilizar suas informações para enviar comunicações relacionadas aos serviços da Dina Filmes, como atualizações, novidades e informações sobre sua conta.
      </p>
      <p class="text-justify">
        <strong>2.3 Compartilhamento de Informações:</strong> Não compartilhamos suas informações pessoais com terceiros sem seu consentimento, exceto quando necessário para cumprir obrigações legais, proteger nossos direitos ou prevenir fraudes.
      </p>
    </div>

    <div class="mb-4">
      <h4 class="text-dark">Segurança das Informações</h4>
      <p class="text-justify">
        <strong>3.1 Segurança:</strong> Adotamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não autorizado, uso indevido, divulgação não autorizada, alteração ou destruição.
      </p>
    </div>

    <div class="mb-4">
      <h4 class="text-dark">Seus Direitos</h4>
      <p class="text-justify">
        <strong>4.1 Acesso e Atualização:</strong> Você tem o direito de acessar, corrigir ou atualizar suas informações pessoais a qualquer momento.
      </p>
      <p class="text-justify">
        <strong>4.2 Exclusão de Dados:</strong> Você pode solicitar a exclusão de suas informações pessoais da nossa plataforma, sujeitando-se às exceções permitidas pela legislação aplicável.
      </p>
    </div>

    <div class="mb-4">
      <h4 class="text-dark">Conformidade com a LGPD</h4>
      <p class="text-justify">
        <strong>5.1 LGPD:</strong> A Dina Filmes está em conformidade com a Lei Geral de Proteção de Dados (LGPD) e se compromete a respeitar seus direitos de privacidade e proteção de dados. Para mais informações sobre como tratamos suas informações pessoais, entre em contato conosco através dos canais disponibilizados nesta política.
      </p>
    </div>

    <div class="mb-4">
      <h4 class="text-dark">Alterações nesta Política</h4>
      <p class="text-justify">
        <strong>6.1 Política:</strong> Reservamo-nos o direito de atualizar esta política de privacidade e termos de uso periodicamente. Recomendamos que você revise regularmente este documento para estar informado sobre como suas informações estão sendo protegidas e utilizadas.
      </p>
    </div>

    <div class="mb-4">
      <h4 class="text-dark">Contato</h4>
      <p class="text-justify">
        Se você tiver dúvidas ou preocupações sobre esta política de privacidade e termos de uso da Dina Filmes, entre em contato conosco através dos seguintes meios:
        <br>E-mail: teste@gmail.com
        <br>Endereço: Rua Frei João 59
        <br>Data de entrada em vigor: 14/06/2024
      </p>
    </div>

    <!-- Nota final -->
    <p class="text-center font-weight-bold">Atenciosamente,<br>Equipe Dina Filmes</p>
  </div>
</section>
